@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap')

body
    font-family 'Montserrat', sans-serif
    font-weight 500
    display flex
    justify-content center
    align-items center
    width 100vw
    height 100vh
    margin 0
    padding 0
    .actual-location
        font-weight 500
        font-size 20px